<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.min.css' %}">
  <style>
    body{
        background: linear-gradient(lightskyblue,aliceblue);
        background-repeat: no-repeat;
        background-size: 1540px 900px;
    }
    p{
        font-size: 21px;
        
    }
  </style>
</head>
<body>
  <div class="container">
    <br>
    <h1>About Our Project: Login/Signup Form with JWT Token</h1>
    <br><br>
    <p>
      Our project aims to provide a secure and user-friendly login/signup functionality using JWT (JSON Web Token) authentication.
      The login method allows users to access their welcome page by providing their email and password. If the email and password
      combination is invalid, an error message will be displayed to the user. Upon successful login, a JWT token will be generated
      and passed to the AJAX success function.
    </p>
    <br>
    <p>
      Our project utilizes the Django framework for handling user authentication and REST API development.
    </p>
    <br>
    <p>
      By providing a seamless and secure login/signup experience, our project aims to enhance user satisfaction and protect their
      sensitive information.
    </p>
    <br><br>
    <a href=".." style="text-decoration: none;  margin-top: 15%;text-decoration: none;font-size: 23px;color: lightcyan;">Home</a>
  </div>
</body>
</html>
